[Unit]
Description=HomeBridge/RF to MQTT bridge
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStartPre=+python3 /home/israel/rf2wifi/setupLogDir.py
ExecStart=/home/israel/rf2wifi/venv/bin/python /home/israel/rf2wifi/RunFastWSGI.py
Restart=on-failure
WorkingDirectory=/home/israel/rf2wifi
User=israel
Group=israel
StandardOutput=journal
StandardError=journal
SyslogIdentifier=RF2WIFI
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

