<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <form method="POST" action="setTargets">
        <label for="buttona">Button A: </label><input name="button_1" id="1" value="{{button_1}}"><br>
        <label for="buttonb">Button B: </label><input name="button_2" id="2" value="{{button_2}}"><br>
        <label for="buttonc">Button C: </label><input name="button_3" id="3" value="{{button_3}}"><br>
        <label for="buttond">Button D: </label><input name="button_4" id="4" value="{{button_4}}"><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>